.proceed-payment-bar-main-container {
    width: 100vw;
    height: 5vw;
    padding: 0 3vw;
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-btn-container {
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proceed-payment-btn {
    margin-right: 4vw;
}